body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(./bg-desktop.svg);
    background-size: 1100px auto;
    background-repeat: no-repeat;
    color: white;
}

body, .btn {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.logo {
    width: 170px;
    padding-left: 60px;
    padding-top: 30px;
}

.mckup {
    position: absolute;
    top: 24%;
    left: 5%;
    width: 600px;
}

.container {
    position: relative;
    float: right;
    left: -10%;
    top: 160px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 433px;
}

p {
    width: 460px;
    font-weight: 100;
}

.btn {
    padding: 1.5%;
    width: 160px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 2px 4px 10px 2px hsla(0, 0%, 0%, 0.418);
    border-radius: 30px;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
}

.btn:hover {
    background-color: hsl(300, 69%, 71%);
    border: 5px solid hsl(300, 69%, 71%);
    box-shadow: 2px 4px 10px 2px hsla(0, 0%, 0%, 0.418);
    color: white;
    cursor: pointer;
}

.social-icons {
    border-radius: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 10px;
    width: 30px;
    font-size: 1em;
    text-align: center;
    border: 1px solid #fff;
    padding: 8px;
    -webkit-text-stroke: .8px hsl(257, 40%, 49%);
    position: relative;
    bottom: -510px;
    right: -750px;
}

.social-icons:hover, .fa-brands:hover {
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    body {
        background-size: 1300px auto;
    }
    .mckup {
        width: 690px;
    }
    .container {
        position: relative;
        float: right;
        left: -11%;
        top: 200px;
    }
    .social-icons {
        position: relative;
        bottom: -620px;
        right: -910px;
    }
    .logo {
        width: 180px;
        padding-left: 60px;
        padding-top: 30px;
    }

    .container {
        position: relative;
        float: right;
        left: -4%;
        top: 190px;
    }
    h1 {
        font-size: 2.5em;
        width: 440px;
    }
    p {
        font-size: 1.3em;
        width: 570px;
        font-weight: 100;
    }
}